.link{
    cursor: pointer;
}
.burger{
    display: flex;
    width: 20px;
    height: 16px;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}
.line{
    width: 100%;
    height: 2px;
    background-color: var(--textColor);
}
.menu{
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--bg);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    font-style: 36px;
}